html, h2, nav {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav {
  color: #8f2440;
  list-style-type: none;
}

a:link, a:visited {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
}

figcaption {
  text-align: center;
  font-style: italic;
}

img {
  width: 100%;                    /* Make the width fill the whole space */
}
