/*      General     */

html {
  font-size: 1.125rem;
}

html, h2, nav {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

/*      Masthead:     */

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  font-weight: bold;
  color: #8f2440;
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
}

a :link, a:visited {
  color: #8f2440;
  text-decoration: none;
}

a :hover {
  color: #3f1622;
  text-decoration: underline;
}

/*      Image     */

figcaption {
  text-align: center;
  font-style: italic;
}

img {
  width: 100%;
}

/*        Content     */

.days {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
}

cite {
  font-size: .8rem;
}

/*      Lists       */

ol {
  list-style-type: lower-greek;
}

dl dt {
  font-weight: bold;
}

.serving {
  font-style: italic;
  font-weight: normal;
}

/*      Aside     */

ul {
  list-style-type: circle;
}
